* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* margin: 0;
    padding: 0; */
    width: 410px;
    height: 410px;
    column-gap: 10px;
}

.container .card {
    position: relative;
    width: 205px;
    height: 205px;
    overflow: hidden;
    margin: 0px -50px;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.container .card:nth-child(2) {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    /* clip-path: polygon(50% 100%, 0 0, 100% 0); */
}

.container .card img {
    transition: 0.5s;
}

.container .card:hover img {
    transform: scale(1.5);
}
